@import "base";

// The filename is aaa_gui.scss so that these styles appear first in the eventual min.css file (i.e. they can be overridden as necessary)

// Default cross-project styles
.gui-fullscreen {
	padding: 1em;
}

.gui {
	width: 100%;
	position: relative;
	@include border-box;
	font-family: 'Guardian-Text-Egyp-Web-Med-Latin', 'Arial';
	background-color: white;

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Guardian-Text-Egyp-Web-Med-Latin', 'Georgia';
		font-weight: 700;
		//margin: 0;
	}

	p, span {
		font-family: 'Guardian-Text-Egyp-Web-Med-Latin', 'Arial';
		line-height: 1.4em;
		color: #545454;
		margin: 0 0 0.5em 0;
	}

	a {
		color: #005689;
		cursor: pointer;
	}

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


.no-fullscreen .gui-hide-if-fullscreen-disabled {
	display: none;
}