<link rel='stylesheet' href='<%= projectUrl %>/boot.css'>

<a href='/readme'>README!</a>

<div id='gui-{%= name %}' class='gui'>
	<noscript>
		<span>Please <a href='http://enable-javascript.com/'>enable JavaScript</a> to view this interactive feature</span>
	</noscript>

	<script src='<%= projectUrl %>/boot.js'></script>

	<div id='loading' class='gui-loading'>
		<h2>loading</h2>

		<div class='circles'>
			<div class='left'></div>
			<div class='middle'></div>
			<div class='right'></div>
		</div>
	</div>
</div>