<link rel='stylesheet' href='<%= ROOT %>/bootstrapper.css'>

<div id='gui-grunttest05' class='gui'>
	<noscript>
		<span>Please <a href='http://enable-javascript.com/'>enable JavaScript</a> to view this interactive feature</span>
	</noscript>

	<script>
		var GUI_ROOT = '<%= ROOT %>';
	</script>
	<script id='gui-bootstrapper' src='<%= ROOT %>/bootstrapper.js'></script>

	<div id='loading' class='gui-loading'>
		<h2>loading</h2>

		<div class='circles'>
			<div class='left'></div>
			<div class='middle'></div>
			<div class='right'></div>
		</div>
	</div>
</div>