// TODO add other default styles

figure.interactive {
    display: block;
    margin: 0;
    color: #333;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'EgyptianText';

    a, a:link, a:visited {
        color: #005689;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}