@font-face {
    font-family: 'Guardian-Text-Egyp-Web-Med-Latin';
    src: url('http://pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.eot');
    src: url('http://pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.eot?#iefix') format('embedded-opentype'),
         url('http://pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.woff') format('woff'),
         url('http://pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.ttf') format('truetype'),
         url('http://pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.svg#Guardian-Text-Egyp-Web-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

.GuiLoading {
	margin: 6em auto;
	text-align: center;
}

.GuiLoading_Text {
	font-family: 'Guardian-Text-Egyp-Web-Med-Latin', 'Georgia';
	font-weight: normal;
	font-size: 2em;
	color: #333;
	margin: 0 0 0.5em 0;
}

.GuiLoading_Circles {
	position: relative;
	width: 3.6em;
	height: 1em;
	margin: 0 auto;
}

.GuiLoading_Circles div {
	position: absolute;
	width: 1em;
	height: 1em;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #0061a6;
	opacity: 0;

	-webkit-animation: blink 1s ease-in-out infinite alternate;
	   -moz-animation: blink 1s ease-in-out infinite alternate;
	    -ms-animation: blink 1s ease-in-out infinite alternate;
	     -o-animation: blink 1s ease-in-out infinite alternate;
	        animation: blink 1s ease-in-out infinite alternate;

}


.GuiLoading_Circles_Left {
	left: 0;
}

.GuiLoading_Circles_Middle {
	left: 1.3em;

	-webkit-animation-delay: 0.2s;
	   -moz-animation-delay: 0.2s;
	    -ms-animation-delay: 0.2s;
	     -o-animation-delay: 0.2s;
	        animation-delay: 0.2s;
}

.GuiLoading_Circles_Right {
	left: 2.6em;

	-webkit-animation-delay: 0.4s;
	   -moz-animation-delay: 0.4s;
	    -ms-animation-delay: 0.4s;
	     -o-animation-delay: 0.4s;
	        animation-delay: 0.4s;

}


@-webkit-keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-ms-keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-o-keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

.GuiBrowserWarning {
	background-color: rgb(255,240,240);
	font-size: 16px;
	padding: 1em;
	width: 100%;
	display: block;
}

.GuiBrowserWarning h2 {
	font-family: 'Guardian-Text-Egyp-Web-Reg-Latin', 'Georgia';
	border-top: none !important;
	font-weight: normal;
	font-size: 20px;
}

a {
	color: #005689;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}