<!-- Start of '{%= name %}' interactive -->
<figure class='interactive' data-interactive='<%= projectUrl %>'>
	
	<!-- Styles needed immediately -->
	<link rel='stylesheet' href='<%= projectUrl %>boot.css'>

	<!-- Accessible description of the interactive goes here -->
	<noscript>
		<span class='GuiNoScript'>Please <a href='http://enable-javascript.com/'>enable JavaScript</a> to view this interactive feature</span>
		<style type='text/css'>#Gui{%= Name %} { display: none; }</style>
	</noscript>

	<div id='Gui{%= Name %}' class='Gui'>
		<div class='GuiLoading'>
			<h2 class='GuiLoading_Text'>loading</h2>

			<div class='GuiLoading_Circles'>
				<div class='GuiLoading_Circles_Left'></div>
				<div class='GuiLoading_Circles_Middle'></div>
				<div class='GuiLoading_Circles_Right'></div>
			</div>
		</div>
	</div>
</figure>
<!-- End of '{%= name %}' interactive -->