.gui-loading {
	margin: 6em auto;
	text-align: center;
	display: block !important;
}

.gui-loading-text {
	font-family: 'Guardian Egyptian Text', 'Georgia';
	font-weight: 400;
	font-size: 2em;
	color: #333;
	margin: 0 0 0.5em 0;
}

.gui-loading-circles {
	position: relative;
	width: 3.6em;
	height: 1em;
	margin: 0 auto;
}

.gui-loading-circles div {
	position: absolute;
	width: 1em;
	height: 1em;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #0061a6;
	opacity: 0;

	-webkit-animation: blink 1s ease-in-out infinite alternate;
	   -moz-animation: blink 1s ease-in-out infinite alternate;
	    -ms-animation: blink 1s ease-in-out infinite alternate;
	     -o-animation: blink 1s ease-in-out infinite alternate;
	        animation: blink 1s ease-in-out infinite alternate;

}


div.gui-loading-circles-left {
	left: 0;
}

div.gui-loading-circles-middle {
	left: 1.3em;

	-webkit-animation-delay: 0.2s;
	   -moz-animation-delay: 0.2s;
	    -ms-animation-delay: 0.2s;
	     -o-animation-delay: 0.2s;
	        animation-delay: 0.2s;
}

div.gui-loading-circles-right {
	left: 2.6em;

	-webkit-animation-delay: 0.4s;
	   -moz-animation-delay: 0.4s;
	    -ms-animation-delay: 0.4s;
	     -o-animation-delay: 0.4s;
	        animation-delay: 0.4s;

}


@-webkit-keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-ms-keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-o-keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

.gui-browser-warning {
	background-color: rgb(255,240,240);
	font-size: 16px;
	padding: 1em;
	width: 100%;
	display: block;
}

.gui-browser-warning h2 {
	font-family: 'Guardian Egyptian Text', 'Georgia';
	border-top: none !important;
	font-weight: normal;
	font-size: 20px;
}

a {
	color: #005689;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	margin: 0;
}

figure.interactive {
	margin: 0;
	padding: 0;
}