<!-- Start of '{%= name %}' interactive -->
<figure class='interactive' data-interactive='<%= projectUrl %>'>
	
	<!-- Styles needed immediately -->
	<link rel='stylesheet' href='http://pasteup.guim.co.uk/0.0.5/css/fonts.pasteup.min.css'>
	<link rel='stylesheet' href='<%= projectUrl %>boot.css'>

	<!-- Accessible description of the interactive goes here -->
	<noscript>
		<span class='gui-browser-warning'>Please <a href='http://enable-javascript.com/'>enable JavaScript</a> to view this interactive feature</span>
		<style type='text/css'>#gui-{%= name %} { display: none; }</style>
	</noscript>

	<div id='gui-{%= name %}' class='gui'>
		<div class='gui-loading' style='display: none;'>
			<h2 class='gui-loading-text'>loading</h2>

			<div class='gui-loading-circles'>
				<div class='gui-loading-circles-left'></div>
				<div class='gui-loading-circles-middle'></div>
				<div class='gui-loading-circles-right'></div>
			</div>
		</div>
	</div>
</figure>
<!-- End of '{%= name %}' interactive -->